# ==============================
# SERVER CONFIG
# ==============================
PORT=8000

# ==============================
# SECURITY
# ==============================
JWT_SECRET=your_jwt_secret_here

# ==============================
# DATABASE (PostgreSQL)
# ==============================
DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=agnos_health_db

# ==============================
# EXTERNAL HIS API
# ==============================
HIS_BASE_URL=https://hospital-a.api.co.th


# ==============================
# GIN MODE
# ==============================
GIN_MODE=release
